/* Navigation Bar */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app-name {
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  display: flex;
  position: static;
  justify-content: space-between;
  background: white;
  color: black;
  padding: 10px 20px;
  padding-bottom: 60px;
}

.navlist {
  display: flex;
  list-style: none;
  align-items: center;
}

.navlist li {
  margin-right: 30px;
}

.navlist li:last-child {
  margin-right: 0;
}

.navlist li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.login {
  text-align: right;
}

.btn {
  background-color: #f88379;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
}

/* Homepager */

h1 {
  font-size: 70px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 400;
}

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.info-section {
  background-color: #d0e6f0;
  padding-top: 80px;
  padding-bottom: 80px;
}

.card {
  margin-top: 70px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  text-align: center;
}

.container {
  margin-left: 30px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.col-sm {
  justify-content: center;
  display: flex;
}

.footer {
  background-color: #f9f9f9;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-text {
  color: black;
}

.footer-subheading {
  font-weight: bold;
}

.subheading {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 50px;
}

.card-2 {
  background-color: black;
  margin-left: 30px;
  margin-bottom: 50px;
}

.card-title-2 {
  color: white;
}

.card-text-2 {
  color: white;
}

.form-group {
  margin-left: 50px;
  margin-right: 50px;
}

.form-sub {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  text-align: center;
  margin-bottom: 50px;
}


/* Itinerary */

.itin h2 {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 40px;
}

.itin h3 {
  text-align: left;
  font-size: 30px;
  font-weight: lighter;
}

#destination {
  margin-left: 50px;
  margin-bottom: 30px;
}

#juncture {
  margin-right: 300px;
}

.itin p {
  text-wrap: balance;
}


/* Profile Page */
.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 80px; 
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-name {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.profile-details {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.profile-details p {
  margin: 5px 0;
  font-size: 18px;
  margin-left: 80px; 
}

.profile-subheading {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
}

.profile-trip-cards {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.profile-card {
  background-color: black;
  margin-bottom: 40px;
}

.profile-card-title {
  color: white;
}

.profile-card-text {
  color: white;
}
